@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.3rem;
  }

  .dark {
    --gradient: #c5ff48;
    --background: 84 65% 5.12%;
    --foreground: 84 10% 98.2%;
    --muted: 84 50% 19.2%;
    --muted-foreground: 84 10% 56.4%;
    --popover: 84 45% 8.32%;
    --popover-foreground: 84 10% 98.2%;
    --card: 84 45% 8.32%;
    --card-foreground: 84 10% 98.2%;
    --border: 84 50% 19.2%;
    --input: 84 50% 19.2%;
    --primary: 84 100% 64%;
    --primary-foreground: 84 10% 6.4%;
    --secondary: 84 50% 19.2%;
    --secondary-foreground: 84 10% 98.2%;
    --accent: 84 50% 19.2%;
    --accent-foreground: 84 10% 98.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 84 10% 98.2%;
    --ring: 84 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .panel-grid {
    grid-template-columns: repeat(53, 1fr);
  }

  .panel-grid > :nth-child(2) {
    grid-column: span 52;
  }

  .week-grid {
    grid-template-columns: repeat(52, 1fr);
  }
}
