@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160.1 100% 95%;
    --foreground: 160.1 5% 0%;
    --card: 160.1 50% 90%;
    --card-foreground: 160.1 5% 10%;
    --popover: 160.1 100% 95%;
    --popover-foreground: 160.1 100% 0%;
    --primary: 160.1 84.1% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160.1 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 122.1 30% 85%;
    --muted-foreground: 160.1 5% 35%;
    --accent: 122.1 30% 80%;
    --accent-foreground: 160.1 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 160.1 5% 90%;
    --border: 160.1 30% 50%;
    --input: 160.1 30% 18%;
    --ring: 160.1 84.1% 39.4%;
    --radius: 0.3rem;
  }

  .dark {
    --gradient: #c5ff48;
    --background: 84 65% 5.12%;
    --foreground: 84 10% 98.2%;
    --muted: 84 50% 19.2%;
    --muted-foreground: 84 10% 56.4%;
    --popover: 84 45% 8.32%;
    --popover-foreground: 84 10% 98.2%;
    --card: 84 45% 8.32%;
    --card-foreground: 84 10% 98.2%;
    --border: 84 50% 19.2%;
    --input: 84 50% 19.2%;
    --primary: 84 100% 64%;
    --primary-foreground: 84 10% 6.4%;
    --secondary: 84 50% 19.2%;
    --secondary-foreground: 84 10% 98.2%;
    --accent: 84 50% 19.2%;
    --accent-foreground: 84 10% 98.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 84 10% 98.2%;
    --ring: 84 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .panel-grid {
    grid-template-columns: repeat(53, 1fr);
  }

  .panel-grid > :nth-child(2) {
    grid-column: span 52;
  }

  .week-grid {
    grid-template-columns: repeat(52, 1fr);
  }
}
